<h1>Editing appliance</h1>

<%= render "form", appliance: @appliance %>

<br>

<div>
  <%= link_to "Show this appliance", @appliance %> |
  <%= link_to "Back to appliances", appliances_path %>
</div>
