
<!-- Example UI Card -->
<% if @appliances.any? %>
  <div class="container my-5">
    <div class="row g-4">
      <% @appliances.each do |appliance| %>
        <%= render appliance %>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="container my-5", id="no-content">
    <h2>No appliance Yet</h2>
  </div>
<% end %>
