<div id="<%= dom_id favourite_list %>">
  <p>
    <strong>Name:</strong>
    <%= favourite_list.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= favourite_list.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= favourite_list.user_id %>
  </p>

</div>
