<h1>Editing favourite list</h1>

<%= render "form", favourite_list: @favourite_list %>

<br>

<div>
  <%= link_to "Show this favourite list", @favourite_list %> |
  <%= link_to "Back to favourite lists", favourite_lists_path %>
</div>
